<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SafeRouteRecommender</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
        <link href="custom.css" rel="stylesheet">
    </head>
    <body>
        <div class="container-fluid">
        <div class="row">
            <h1>Safe Route Recommender</h1>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <form id="form">
                    <div class="form-group">
                        <label for="inputSrc">From</label>
                        <input name="src" type="text" class="form-control" id="inputSrc" placeholder="Leaving from...">
                    </div>
                    <div class="form-group">
                        <label for="inputDest">To</label>
                        <input name="dest" type="text" class="form-control" id="inputDest" placeholder="Going to...">
                    </div>
                    <button id="submit" type="button" class="btn btn-default">Go!</button>
                </form>
            </div>
            <div class="col-sm-9">
                <div id="map-canvas"></div>
            </div>
        </div>
        </div> 
        <!-- Scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6attkjbHcO6MyNiyV6InllB23NHW2C20"></script>
        <script type="text/javascript">
            function initialize() {
                var mapOptions = {
                center: { lat: 40.1105, lng: -88.2284},
                zoom: 15
            };
            map = new google.maps.Map(document.getElementById('map-canvas'),
                mapOptions);
            }

            $(document).ready(function(){
                google.maps.event.addDomListener(window, 'load', initialize);

                var h = $(window).height()*0.89;
                document.getElementById('map-canvas').setAttribute("style","height:" + h + "px;");

                $(window).resize(function() {
                    var h = $(window).height()*0.89;
                    document.getElementById('map-canvas').setAttribute("style","height:" + h + "px;");
                });

                mapPath = null;

                $('#submit').click(function (e) {
                    if(mapPath != null) {
                        mapPath.setMap(null);
                    }
                    e.preventDefault();
                    var form = $('#form').serialize();
                    $.ajax({
                        type: "POST",
                        url: "access/map",
                        data: form,
                        success: function(data) {
                            if(data.message == 'Error') {
                                console.log("error");
                            }
                            else if(data.message == 'Success') {
                                console.log(data.route);
                                var pathAB = [];
                                for(i=0; i<(data.route).length; i++) {
                                    var item = data.route[i].replace(")", "").replace("(", "").split(",")
                                    pathAB.push(new google.maps.LatLng(item[1], item[0]));
                                }
                                // create path
                                mapPath = new google.maps.Polyline({
                                        path: pathAB,
                                        geodesic: true,
                                        strokeColor: '#FF0000',
                                        strokeOpacity: 1.0,
                                        strokeWeight: 2,
                                        map: map
                                });
                                console.log(map);
                                mapPath.setMap(map);
                                //console.log(mapPath);
                            }
                        }
                    });
                });
            });
        </script>
    </body>
</html>
